<DOCTYPE html>
</html>
<meta charset="UTF-8">
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<center>
<body style = "background-color:powderblue;">
<div>
	<form action="/profile" method="post">
	
		<label>USERNAME</label>
		<input name="username" type="email" placeholder="Enter Email"/><br><br>
		<label>PASSWORD</label>
		<input type="password" name="password" placeholder="Enter Password"><br><br>
		<input type="submit" value="LOGIN"><br>
	</form>
</div>
<div>
	<form action = "/new">
		<label>New User?</label>
		<input type="submit" value="Register">
	</form>
</div>
</center>
</body>
</html>
